VITE_DOMAIN=LIQUIDCHOFER_DOMAIN_PLACEHOLDER
VITE_GITHUB=URL_GITHUB
VITE_IG=INSTAGRAM ACCOUNT
VITE_MAINTENANCE_MODE=0
VITE_GA_ID=
# Para activar Google Analytics, poné tu ID acá (formato: G-XXXXXXXXXX):
VITE_GA_ID=G-XXXXXXXXXX
VITE_S_OLAVARRIA_SERVICIOS=EXAMPLE_SPONSOR_CONTACT
VITE_S_OLAVARRIA_SERVICIOS_URL_IMAGE=EXAMPLE_IMAGE_SPONSOR
VITE_S_OLAVARRIA_SERVICIOS_URL_LOGO=EXAMPLE_LOGO_SPONSOR